body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
ul {
    background-color: rgb(161, 190, 215);
    height: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    list-style: none;
    padding: 0 20px;
    margin: 0;
}

/* Links */
ul li a {
    text-decoration: none;
    color: black;
}

/* Heading */
h1 {
    color: red;
    margin-left: 20px;
}